@model List<PayrollWeb.Models.Empleado>

@{
    ViewData["Title"] = "Empleados - Reporte de Competencias y Habilidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-4 mb-4">@ViewData["Title"]</h2>

<div class="mb-3 d-flex text-primary">
    <input type="text" id="buscarEmpleado" class="form-control" placeholder="Buscar por nombre o apellido" style="max-width: 300px;">
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>DUI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Dui</td>
                    <td>@emp.Nombre</td>
                    <td>@emp.Apellidos</td>
                    <td>@emp.Telefono</td>
                    <td>@emp.Correo</td>
                    <td>@emp.Estado</td>
                    <td>
                        <a asp-controller="ReporteCompetenciasHabilidades" asp-action="ReportesCompetenciasHabilidades" asp-route-IdEmpleado="@emp.IdEmpleado" class="btn btn-outline-primary btn-sm" title="Ver Reporte">
                            <i class="bi bi-check2-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
      document.getElementById("buscarEmpleado").addEventListener("input", function () {
        var filtro = this.value.toLowerCase();
        var filas = document.querySelectorAll("table tbody tr");

        filas.forEach(function (fila) {
            var nombre = fila.cells[1]?.textContent.toLowerCase();
            var apellido = fila.cells[2]?.textContent.toLowerCase();

            if (nombre.includes(filtro) || apellido.includes(filtro)) {
                fila.style.display = "";
            } else {
                fila.style.display = "none";
            }
        });
    });
</script>
