@model Puesto

@{
    ViewData["Title"] = "Agregar Puesto";
}

<h2>Agregar Puesto</h2>

<form action="/Puesto/CrearPuesto" method="post" id="formAgregarPuesto">
    
    <div class="mb-3">
        <label for="NombrePuesto" class="form-label">Nombre del Puesto:</label>
        <input type="text" id="NombrePuesto" name="NombrePuesto" class="form-control" required />
        @if (ViewData.ModelState["NombrePuesto"]?.Errors.Count > 0)
        {
            <span class="text-danger">@ViewData.ModelState["NombrePuesto"]?.Errors[0]?.ErrorMessage</span>
        }
    </div>

    <div class="mb-3">
        <label for="IdCategoria" class="form-label">Categoría:</label>
        <select id="IdCategoria" name="IdCategoria" class="form-control" required>
            <option value="">Seleccione una categoría</option>
            @foreach (var categoria in ViewBag.Categorias)
            {
                <option value="@categoria.IdCategoria">@categoria.NombreCategoria</option>
            }
        </select>
        @if (ViewData.ModelState["CategoriaId"]?.Errors.Count > 0)
        {
            <span class="text-danger">@ViewData.ModelState["CategoriaId"]?.Errors[0]?.ErrorMessage</span>
        }
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="@Url.Action("VerPuestos", "Puesto")" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

