@model List<Empleado>

<h2>Lista de Empleados</h2>


@if (TempData["ErrorEliminar"] != null)
{
    <div id="errorEliminar" class="alert alert-danger alert-delete-later">
        @TempData["ErrorEliminar"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div id="errorEliminar" class="alert alert-success alert-delete-later">
        @TempData["Success"]
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>DUI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Dui</td>
                    <td>@emp.Nombre</td>
                    <td>@emp.Apellidos</td>

                    <td>
                        <a href="@Url.Action("VerDeducciones", "DeduccionesPersonales", new { IdEmpleado = @emp.IdEmpleado })" class="btn btn-success">Deducciones</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No hay empleados registrados</td>
            </tr>
        }
    </tbody>

</table>

<script>
    setTimeout(function() {
        // Seleccionamos todos los elementos con la clase 'alert-delete-later'
        var alertElements = document.querySelectorAll('.alert-delete-later');
        alertElements.forEach(function(alert) {
            alert.remove();  // Eliminamos cada mensaje de la lista
        });
    }, 3000); // 3000 ms = 3 segundos
</script>
