@model List<Empleado>

@if(ViewBag.ShowActions == "Contratos")
{
    <h1>Contratos de Empleados</h1>
}

@if(ViewBag.ShowActions == "Deducciones")
{
    <h1>Deducciones de Empleados</h1>
}

@if (ViewBag.ShowActions == "Evaluaciones")
{
    <h1>Evaluaciones de Empleados</h1>
}

@if (ViewBag.ShowActions == "Cargos")
{
    <h1>Cargos de Empleados</h1>
}
@if (ViewBag.ShowActions == "Competencias")
{
    <h1>Competencias de Empleados</h1>
}
@if (ViewBag.ShowActions == "Habilidades")
{
    <h1>Habilidades de Empleados</h1>
}

@if(ViewBag.ShowActions == "Empleados"){
    <h1>Gestionar Empleados</h1>
    <a href="@Url.Action("VerAgregarEmpleado", "Empleado")" class="btn custom-btn-info">
        <i style="font-size: 2rem" class="bi bi-plus-square"></i>
    </a>
}

@if (ViewBag.ShowActions == "HistorialAscensos")
{
    <a href="@Url.Action("VerAscensosGlobal", "Graficos")" class="btn btn-primary">
        <i class="fas fa-chart-line"></i> Todos los ascensos
    </a>

}

@if (TempData["ErrorEliminar"] != null)
{
    <div id="errorEliminar" class="alert alert-danger alert-delete-later">
        @TempData["ErrorEliminar"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div id="errorEliminar" class="alert alert-success alert-delete-later">
        @TempData["Success"]
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>DUI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Dui</td>
                    <td>@emp.Nombre</td>
                    <td>@emp.Apellidos</td>
                    <td>@emp.Telefono</td>
                    <td>@emp.Correo</td>
                    <td>@emp.Estado</td>

                    <td>
                        @if (ViewBag.ShowActions == "Empleados")
                        {
                            <a href="@Url.Action("VerEmpleado", "Empleado", new { id = @emp.IdEmpleado })" class="btn custom-btn-info"><i class="bi bi-eye-fill"></i></a>
                            <a href="@Url.Action("VerEditarEmpleado", "Empleado", new { id = emp.IdEmpleado })" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a href="@Url.Action("EliminarEmpleado", "Empleado", new { id = emp.IdEmpleado })" class="btn btn-danger" title="Eliminar Empleado">
                                <i class="bi bi-trash"></i>
                            </a>
                        }
                        else if (ViewBag.ShowActions == "Contratos")
                        {
                            <a href="@Url.Action("VerContratosEmpleado", "Contrato", new { idEmpleado = emp.IdEmpleado })" class="btn btn-success">Contrato</a>
                        }
                        else if (ViewBag.ShowActions == "Deducciones")
                        {
                            <a href="@Url.Action("VerDeducciones", "DeduccionesPersonales", new { IdEmpleado = @emp.IdEmpleado })" class="btn btn-success">Deducciones</a>
                        }
                        else if (ViewBag.ShowActions == "Evaluaciones")
                        {
                            <div class="d-flex justify-content-center align-items-center">                            
                                <a href="@Url.Action("VerEvaluacionDesempeno", "Evaluacion", new { id = emp.IdEmpleado })" class="btn custom-btn-info"><i style="font-size: 1.8rem" class="bi bi-clipboard2-plus"></i></a>
                            </div>
                        }
                        else if (ViewBag.ShowActions == "Cargos")
                        {
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="@Url.Action("VerCargosEmpleado", "Cargo", new { IdEmpleado = emp.IdEmpleado })" class="btn custom-btn-info"><i style="font-size: 1.5rem" class="bi bi-calendar2-plus"></i></a>
                            </div>
                        }
                        else if (ViewBag.ShowActions == "HistorialAscensos")
                        {
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="@Url.Action("VerAscensosEmpleados", "Graficos", new { IdEmpleado = emp.IdEmpleado })" class="btn custom-btn-info"><i style="font-size: 1.5rem" class="bi bi-calendar2-plus"></i></a>
                            </div>
                        }
                        else if (ViewBag.ShowActions == "HistorialAscensosReportes")
                        {
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="@Url.Action("ReportesHistorialAscensos", "Reportes", new { IdEmpleado = emp.IdEmpleado })" class="btn custom-btn-info"><i style="font-size: 1.5rem" class="bi bi-calendar2-plus"></i></a>
                            </div>
                        }
                        else if (ViewBag.ShowActions == "Competencias")
                        {
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="@Url.Action("VerCompetenciasEmpleado", "CompetenciasHabilidades", new { IdEmpleado = emp.IdEmpleado })" class="btn custom-btn-info"><i style="font-size: 1.5rem" class="bi bi-tools"></i></a>
                            </div>
                        }
                        else if (ViewBag.ShowActions == "Habilidades")
                        {
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="@Url.Action("VerHabilidadesEmpleado", "CompetenciasHabilidades", new { IdEmpleado = emp.IdEmpleado })" class="btn custom-btn-info"><i style="font-size: 1.5rem" class="bi bi-flag-fill"></i></a>
                            </div>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No hay empleados registrados</td>
            </tr>
        }
    </tbody>

</table>

<script>
    setTimeout(function() {
        // Seleccionamos todos los elementos con la clase 'alert-delete-later'
        var alertElements = document.querySelectorAll('.alert-delete-later');
        alertElements.forEach(function(alert) {
            alert.remove();  // Eliminamos cada mensaje de la lista
        });
    }, 3000); // 3000 ms = 3 segundos
</script>
