@model List<Empleado>

<h2>Lista de Empleados</h2>

<a href="@Url.Action("VerAgregarEmpleado", "Empleado")" class="btn custom-btn-info">
    <i class="bi bi-plus-square-fill"></i>
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>DUI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Dui</td>
                    <td>@emp.Nombre</td>
                    <td>@emp.Apellidos</td>
                    <td>@emp.Telefono</td>
                    <td>@emp.Correo</td>
                    <td>@emp.Estado</td>
                    <td>
                        <a href="@Url.Action("VerEmpleado", "Empleado", new { id = @emp.IdEmpleado })" class="btn custom-btn-info"><i class="bi bi-eye-fill"></i></a>
                        <a href="@Url.Action("VerEditarEmpleado", "Empleado", new { id = emp.IdEmpleado })" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <a href="@Url.Action("GenerarReporteEmpleado", "Empleado", new { id = emp.IdEmpleado })" class="btn btn-secondary"><i class="bi bi-file-earmark-text"></i></a>
                        <a href="@Url.Action("EliminarEmpleado", "Empleado", new { id = emp.IdEmpleado })" class="btn btn-danger" title="Eliminar Empleado">
                            <i class="bi bi-trash"></i> 
                        </a>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No hay empleados registrados</td>
            </tr>
        }
    </tbody>

</table>
